.df-plain-text {
    font-size: var(--g-text-body-1-font-size);
    line-height: 18px;
    font-weight: 500;
    color: var(--g-color-text-primary);

    &__placeholder {
        color: var(--g-color-text-secondary);
    }
}
