.editable-lists-control-demo {
    &__secondary {
        color: var(--g-color-text-secondary);
    }
    &__coral {
        color: lightcoral; // stylelint-disable-line color-named
    }

    &__add {
        background-color: var(--g-color-base-positive-light);
    }

    &__remove {
        background-color: var(--g-color-base-danger-light);
    }
}
