.df-editable-many-lists {
    display: grid;
    grid-template-columns: fit-content(50%) auto;

    &__title {
        line-height: 2em;
        text-align: right;
        padding-right: 1ex;
    }
}
