.df-editable-list {
    word-break: break-all;

    &__item {
        max-width: 100%;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        border-radius: 4px;

        white-space: nowrap;
        height: 1.8em;
        background-color: var(--g-color-line-generic);
        margin-right: 1ex;
        margin-bottom: 4px;
        padding: 0 1ex;

        &-content {
            overflow: hidden;
            text-overflow: ellipsis;

            &_removed {
                opacity: 0.5;
            }
        }

        &-action {
            padding-left: 1ex;
            color: var(--g-color-text-secondary);
            cursor: pointer;
            display: inline-block;
            min-width: 1em;
            margin-bottom: -4px;

            &_icon_undo {
                .icon {
                    font-size: 0.85em;
                }
            }
        }
    }

    &__show-all {
        white-space: nowrap;
        color: var(--g-color-text-link);
        cursor: pointer;
        padding: 0 1ex;
    }
}
